[submodule "site"]
	path = site
	url = https://github.com/apache/turbine-site.git
	branch = master
[submodule "core"]
	path = core
	url = https://github.com/apache/turbine-core.git
	branch = trunk
[submodule "parent"]
	path = parent
	url = https://github.com/apache/turbine-parent.git
	branch = master
[submodule "archetypes"]
	path = archetypes
	url = https://github.com/apache/turbine-archetypes.git
	branch = master
[submodule "fulcrum"]
	path = fulcrum
	url = https://github.com/apache/turbine-fulcrum-build.git
	branch = master
