[submodule "site"]
	path = site
	url = ../turbine-site.git
	branch = master
[submodule "core"]
	path = core
	url = ../turbine-core.git
	branch = trunk
[submodule "parent"]
	path = parent
	url = ../turbine-parent.git
	branch = master
[submodule "archetypes"]
	path = archetypes
	url = ../turbine-archetypes.git
	branch = master
[submodule "fulcrum"]
	path = fulcrum
	url = ../turbine-fulcrum-build.git
	branch = master
   
